.desc {
    text-align: center;
    align-items: center;
    margin: 2%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
