@import "../../partials/typography";

label {
    font-family: $spaceMono;
    margin-right: 5px;
}
button {
    font-family: $spaceMono;
}

.landSatTitle {
    text-align: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 1%;

    &_long {
        margin-right: 0.5%;
    }
    &_lat {
        margin-right: 0.5%;
    }
}
